@import "../../themes.scss";

.card {
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__title {
    font-size: 22px;
    color: $black;
    font-weight: 700;
    margin: 24px 0;
  }
  &__price {
    color: $black;
    font-weight: 400;
    font-size: 22px;
  }
  &__discount {
    margin-left: 10px;
    color: $disPrice;
    font-weight: 400;
    font-size: 22px;
    text-decoration: line-through;
  }
  &__btn {
    margin-top: 23px;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    color: $green;
    border: 3px solid $green;
    border-radius: 7px;
    font-size: 16px;
    transition: 0.3s color;
  }
  &__btn--selected {
    background: $green;
    color: $white;
    border: 3px solid $green;

  }
}
