@import "../../themes.scss";
.header {
  padding-top: 50px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: auto;
    
  }
  &__icon-group {
    display: flex;
    align-items: center;
    gap: 10px;
    &--heart,
    &--bag {
      width: 30px;
      height: 30px;
      color: $green;
    }
  }
}

.nav {
  margin-top: 50px;
  margin-bottom: 30px;
  &__list {
    background: linear-gradient(180deg, #55b74c 0%, #4ba043 162.75%);
    border-radius: 7px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    &--item {
      list-style: none;
      a {
        cursor: pointer;
        color: $white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          display: block;
          background: $white;
          transform: scaleX(0);
          transform-origin: left;
          transition: 0.3s transform;
        }
        &:hover::after {
          transform: scale(1);
        }
      }
      &-active::after {
        transform: scale(1) !important;
      }
    }
  }
}
